body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  background-image: url('https://en.wikipedia.org/wiki/File:CSI_Ellis_Memorial_Church.jpg');
}
.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #007bff;
}

h3{
  text-align: center;
  color: brown;
}
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input,
select,
button,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[readonly] {
  background-color: #eee;
  cursor: not-allowed;
}
.radio-group {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}
.radio-group label {
  font-weight: normal;
}
button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  font-size: 12px;
}

.navbar {
  display: flex;
  gap: 20px;
  background-color: cyan;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: row;
}

a {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}

table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d0e4ff;
  cursor: pointer;
}
